html, body {
  padding: 0;
  margin: 0;
  height: 100%;
  overflow: hidden;
}

svg {
  xborder: 1px solid #AAA;
  background-color: #EEE;
  position: absolute;
  xleft: 50%;
  xtop: 50%;
  xmargin-left: -500px;
  xmargin-top: -300px;
}