html, body {
  padding: 0;
  margin: 0;
  height: 100%;
  overflow: hidden;
  font-family: sans-serif;
}

svg {
  border: 1px solid #AAA;
  background-color: #EEE;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -600px;
  margin-top:  -300px;
}

.overlay {
  padding: 4px;
  position: absolute;
  left: 50%;
  top: 50%;
  background: #FFF;
  border: 1px solid #AAA;
  font-size: 12px;
  overflow-y: auto;
}

.overlay p {
  margin: 0;
}

.overlay label {
  font-weight: bold;
  display: inline-block;
  min-width: 60px;
}

.overlay table {
  border-collapse: collapse;
}

.overlay tr {
  background-color: #DDD;
}

.overlay tr:nth-child(even) {
  background-color: #EEE;
}

.overlay th, .overlay td {
  padding: 2px 4px;
}

.tal {
  text-align: left;
}

.tar {
  text-align: right;
}


.acc {
  display: inline-block;
  padding: 2px 4px;
  border-radius: 4px;
}

.acc a {
  color: inherit;
}

.acc-project { background-color: purple; color: #FFF; }
.acc-angel { background-color: cyan; }
.acc-user { background-color: orange; }
.acc-puser { background-color: orange; }
.acc-other { background-color: gray; color: #FFF; }

.dismiss {
  position: absolute;
  top: 0;
  right: 0;
  width: 30px;
  height: 30px;
  color: #FFF;
  background-color: #A00;
  text-align: center;
  line-height: 30px;
  padding: 0;
}